extends ../layout

block content
	.l-navigation
	.l-splash
		.wrap
			h1.site-logo linux#[br].conf#[br].au
			h2.site-title
				.site-title--location Hobart
				.site-title--month January
				.site-title--year 2017


			p.site-intro It's been a few years since linux.conf.au last came to Hobart. When one of the world’s greatest Free and Open Source Software conferences returns in January 2017, you'll find an LCA shaped by a city that's undergoing a massive change in identity.
			nav.inline-navigation
				a.inline-navigation--item(href="#l-why-hobart") The City
				a.inline-navigation--item(href="#l-faq") Answers

	.l-why-hobart#l-why-hobart
		.wrap.page
			.page--intro
				h1 The City
			.page--main
				h3 In 2017, the edge of the world becomes the centre of the Open Source world.
				p Hobart has a growing arts and cultural scene, led by the Museum of Old and New Art, or MONA, taking pride in its isolation, the irreverant, and the unusual. If you're a foodie, you're sorted too. Hobart's burgeoning gourmet scene takes inspiration from the best in the world, and pairs it with quality produce grown across Tasmania.
				p At LCA2017, we'll make sure you sample the best in Tasmanian food, cool-climate wine, craft beer, and cider, in venues that are amazing and completely unexpected.
				p Of course, we think Tasmania is a great place to visit in January: in summer, Hobart is warm (but not too warm) and dry – perfect for outdoor conversations over lunch, morning tea, or in linux.conf.au's famous hallway track; and our southern disposition lends the city long lingering evenings, perfect for LCA's many outdoor social events.

	.l-faq#l-faq
		.wrap.page
			.page--intro
				h1 Answers
			.page--main
				h3 What is linux.conf.au?
				p #[a(href="http://linux.conf.au") linux.conf.au] is a conference about the Linux operating system, and all aspects of the thriving ecosystem of Free and Open Source Software that has grown up around it. Run in a different Australian or New Zealand city each year by a team of local volunteers, LCA invites more than 500 people to learn from the people who shape the future of Open Source.
				p linux.conf.au #[a(href="http://lca2009.linux.org.au") last came to Hobart in 2009], and #[a(href="http://lcabythebay.org.au/") LCA2016] will be held near Melbourne in Geelong, Victoria.

				h3 How do I get to Hobart?
				p Hobart is a short flight away from Melbourne, and we're serviced by each of Australia's major domestic airlines. There's also flights every day from Sydney, Brisbane and the Gold Coast. International connections are available from Melbourne and Sydney.
				p Car access to Tasmania is available on the Spirit of Tasmania ferry, which crosses between Melbourne and Devonport, about 3 hours drive from Hobart. In January, the Spirit of Tasmania crosses Bass Strait twice daily.

				h3 Isn’t Hobart cold and dark?
				p Not at all! January in Hobart features a warm climate, with 80% of days falling in the temperature range of 16–28ºC (61–82ºF). Summer evenings last longer in Hobart than any other major Australian city, with the sun setting around 9pm, and twilight lasting past 10pm.
				p January is also a very dry month in Hobart, with fewer than 6 days on average receiving significant rainfall. We’re planning as many outdoor social events as possible to take advantage of Hobart’s fantastic January weather.

				h3 Where can I get even more information?
				p We will be updating this website as more details emerge - but if your thirsty for more details #[em now] then you can #[a(href="http://wiki.linux.org.au/w/images/3/3d/Lca2017-hobart-bid.pdf") download our bid document].

	.l-meta#l-meta
		.wrap.page
			.page--intro
				h1 Meta
			.page--main
				h3 Contact
				p If you have any suggestions for our planned conference, or any questions, or if you want to help out, send us an e-mail at #[a(href="mailto::team@hobart.lca2017.org") team@hobart.lca2017.org].
				h3 Credits
				ul
					li Photos by #[a(href="https://www.flickr.com/photos/chrisjrn/8058863952") Chris Neugebauer], #[a(href="https://www.flickr.com/photos/leoville/2389357682/in/photostream/") Leo Laporte], #[a(href="https://www.flickr.com/photos/adgray/14442407876/in/photostream/") Tony Gray], #[a(href="https://www.flickr.com/photos/39997856@N03/15057617530") Mariusz Kluzniak] and #[a(href="http://commons.wikimedia.org/wiki/File:Hobart_from_Mount_Wellington_Panorama_1.jpg") JJ Harison]
					li Website by #[a(href="http://twitter.com/jonnyscholes") Jonny]
				p Copyright 2015 Linux.conf.au and Linux Australia. Linux is a registered trademark of Linus Torvalds.